_build.*
*.pyc
.sconf_temp
.sconsign.dblite
config.log
tests/.tests
ups/*.cfgc
.cache
.pytest_cache
pytest_session.txt
.coverage
decam/linearizer
python/lsst/obs/sst/version.py
python/lsst/obs/decam/version.py
bin/ingestImagesDecam.py
bin/processCcdDecam.py
bin/runCrosstalkAlone.py
repositoryCfg.yaml
decam/CALIB/defects
decam/CALIB/crosstalk
decam/CALIB/calibRegistry*
decam/crosstalk
.vscode/
